

body {
    background:#ffcc00;
    width:100%;
    text-align: center;
    font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
    color:rgb(250, 250, 250);
}

.header {
    margin-bottom:25px;
    
}

#empty-word-display {
    font-size: 24px;
    margin-bottom:30px;
}

button {
    margin:1px;
}

